<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="KSPAssemblyHelper.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="KSPAssemblyHelper.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <KSPAssemblyHelper.Properties.Settings>
            <setting name="UnitMass_Small_Wet" serializeAs="String">
                <value>562.5</value>
            </setting>
            <setting name="UnitMass_Large_Wet" serializeAs="String">
                <value>4500</value>
            </setting>
        </KSPAssemblyHelper.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <KSPAssemblyHelper.Properties.Settings>
            <setting name="UnitMass_Small_Dry" serializeAs="String">
                <value>62.5</value>
            </setting>
            <setting name="UnitMass_Large_Dry" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="UnitMass_Tiny_Wet" serializeAs="String">
                <value>78.675</value>
            </setting>
            <setting name="UnitMass_Tiny_Dry" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="UnitMass_Extra_Wet" serializeAs="String">
                <value>20500</value>
            </setting>
            <setting name="UnitMass_Extra_Dry" serializeAs="String">
                <value>2500</value>
            </setting>
        </KSPAssemblyHelper.Properties.Settings>
    </userSettings>
</configuration>